<html lang="en" >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  </head>
  <body ng-app="CalendarApp" ng-controller="MainCtrl" ng-cloak>
    <div ng-repeat="post in posts | orderBy: '-upvotes'">
      {{post.title}} - upvotes: {{post.upvotes}}
    </div>
    <form ng-submit="addPost()">
      <input type="text" ng-model="title"></input>
      <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
      <button type="submit">Post</button>
    </form>

      <!-- Angular Material requires Angular.js Libraries -->
      <script src="node_modules/angular/angular.min.js"></script>
      <script src="node_modules/angular-animate/angular-animate.min.js"></script>
      <script src="node_modules/angular-aria/angular-aria.min.js"></script>
      <script src="node_modules/angular-messages/angular-messages.min.js"></script>

      <!-- Angular Material Library -->
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

      <!-- Your application bootstrap  -->
      <script src='app.js'></script>

  </body>
</html>

<!--
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  </head>
  <body ng-app="Calendar" ng-controller="MainCtrl" ng-cloak>
    <div ng-repeat="post in posts | orderBy: '-upvotes'">
      {{post.title}} - upvotes: {{post.upvotes}}
    </div>
    <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    
    <script src="app.js"></script>
  </body>
</html>
-->
