<html lang="en" >
  <head>
    <title>Hostel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="node_modules/fullcalendar/dist/fullcalendar.css"/>
  </head>
  <body ng-app="CalendarApp" ng-controller="MainCtrl" ng-cloak>
    <form ng-submit="addEvent()">
      <input type="text" ng-model="title"></input>
      <md-datepicker ng-model="event.start"></md-datepicker>
      <md-datepicker ng-model="event.end"></md-datepicker>
      <button type="submit">New Event</button>
    </form>

    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="events"></div>
    
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/moment/min/moment.min.js"></script>
    <script src="node_modules/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-ui-calendar/src/calendar.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <script src='app.js'></script>
  </body>
</html>
