.space > *, .parent * {
  transition: fill 1s ease;
}

.space:hover path, .space:hover rect {
  fill: yellow ! important;
}

.parent:hover * {
  fill: rgba(238, 78, 4, 0.733) ! important;
}

.key .active {
  fill: orange ! important;
}

.key .active:hover {
  fill: orangered ! important;
}

.key > *:hover, .link:hover * {
  fill: green ! important;
  fill-opacity: 0.5 !important;
  stroke-dasharray: 0 !important;
}

.key *, .toggle * {
  animation: keyborder 1s infinite;
  animation-direction: alternate;
}

@keyframes keyborder {
  from { stroke: default; stroke-width: 2%; }
  to { stroke: rgba(110, 8, 8, 0.5); stroke-width: 3%; }
}

#back {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 150%;
  background: none;
  border: none;
  cursor: pointer;
}

#cabin {
  cursor: cell;
}

.link, .key, .toggle {
  cursor: pointer;
}

.link * {
  animation: linkborder 1s infinite;
  animation-direction: alternate;
  transition: fill 0.5s ease-in-out, fill-opacity 0.25s ease-in-out;
  stroke-dasharray: 0.25 0.1 !important;
}

@keyframes linkborder {
  from { stroke: currentColor; stroke-width: 0.25%; stroke-dashoffset: 0; }
  to { stroke: rgba(2, 165, 130, 0.63); stroke-width: 0.4%; stroke-dashoffset: 1; }
}

@keyframes marching {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 1; }
}

.parent * {
  animation: parentborder 2.5s infinite both ease-in-out;
}

@keyframes parentborder {
  from { stroke: default; }
  33% { stroke: rgba(0, 0, 0, 0.822); stroke-width: 1%; }
  70% { stroke: rgba(36, 99, 20, 0.575); stroke-width: 1.5%; }
  80% { stroke: rgba(158, 10, 10, 0.904); stroke-width: 1.25%; }
  90% { stroke: rgba(36, 99, 20, 0.575); stroke-width: 1%; }
  to { stroke: default; }
}

.space {
  cursor: alias;
}

svg {
  animation: fadein 0.4s normal forwards ease-in-out;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

h1 {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(247, 226, 226, 0.822);
  padding: 0.5em;
}

.toggle circle {
  transition: transform 0.5s ease, fill 0.5s ease;
}

.toggle.on circle {
  fill: red !important;
  transform: translate(0, 50px) !important;
}

.toggle.on rect {
  fill: orange !important;
}

.toggle:hover rect {
  fill: green !important;
}

.clicked {
  animation-name: blink;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes blink {
  10% { opacity: 0.75; }
  20% { opacity: 1; }
  40% { opacity: 0.75; }
  60% { opacity: 1; }
  80% { opacity: 0.75; }
  to { opacity: 1; }
}

.clicked * {
  animation-name: highlight;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.clicked.toggle, .clicked.toggle * {
  animation: none;
}

@keyframes highlight {
  30% { stroke: red; stroke-opacity: 0.5; }
  70% { stroke: red; stroke-opacity: 0.75; }
}

#survey g g g:hover * {
  fill-opacity: 1 !important;
}

* {
  transition: fill-opacity 0.25s ease;
  transition: fill 0.05s ease;
}

text, .parent:hover text, tspan, .parent:hover tspan {
  animation: none !important;
  fill: currentColor !important;
  stroke: none !important;
}