#App {
  width: 100vw !important;
  height: 100vh !important;  
}

svg {
  max-width: 100%;
}

.space > *, .parent * {
  transition: fill 1s ease;
}

.space:hover path, .space:hover rect {
  fill: yellow ! important;
}

.key .active {
  fill: orange ! important;
}

.key .active:hover {
  fill: orangered ! important;
}

.key > *:hover, .link:hover * {
  fill: green ! important;
  fill-opacity: 0.5 !important;
  stroke-dasharray: 0 !important;
}

.key *, .toggle * {
  animation: keyborder 1s infinite;
  animation-direction: alternate;
}

@keyframes keyborder {
  from { stroke: currentColor; }
  to { stroke: rgba(110, 8, 8, 0.5); }
}

#back {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 150%;
  background: none;
  border: none;
  cursor: pointer;
}

#cabin {
  cursor: cell;
}

.link, .key, .toggle, .parent {
  cursor: pointer;
}

.link * {
  animation:
    linkborder 1s ease-in-out 0s infinite alternate both,
    marching 1.5s linear 0s infinite normal both
  ;
  transition: fill 0.5s ease-in-out, fill-opacity 0.25s ease-in-out;
  stroke-dasharray: 0.25 0.1 !important;
}

@keyframes linkborder {
  from { stroke: currentColor; }
  to { stroke: rgba(1, 63, 49, 0.76); }
}

@keyframes marching {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 0.35; }
}

.parent * {
  animation:
    parentborder 2.5s linear 0s infinite alternate both,
    marching 0.5s linear 0s infinite normal both
  ;
}

@keyframes parentborder {
  from { stroke: currentColor; }
  15% { stroke: rgba(223, 11, 187, 0.74); }
  33% { stroke: rgba(7, 29, 226, 0.795); }
  50% { stroke: rgba(218, 136, 15, 0.767); }
  70% { stroke: rgba(36, 99, 20, 0.575); }
  80% { stroke: rgba(158, 10, 10, 0.904); }
  90% { stroke: rgba(36, 99, 20, 0.575); }
  to { stroke: rgba(14, 200, 224, 0.774); }
}

.parent:hover * {
  animation: none;
}

.space {
  cursor: alias;
}

svg {
  animation: fadein 0.4s normal forwards ease-in-out;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

h1 {
  text-align: center;
  position: absolute;
  top: 0%;
  left: 50%;
  margin-top: 0.25em;
  transform: translate(-50%, 0);
  background-color: rgba(247, 226, 226, 0.623);
  padding: 0.5em;
  pointer-events: none;
  border-radius: 13px;
}

.toggle circle {
  transition: transform 0.5s ease, fill 0.5s ease;
}

.toggle.on circle {
  fill: red !important;
  transform: translate(0, 50px) !important;
}

.toggle.on rect {
  fill: orange !important;
}

.toggle:hover rect {
  fill: green !important;
}

.clicked {
  animation-name: blink;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes blink {
  10% { opacity: 0.75; }
  20% { opacity: 1; }
  40% { opacity: 0.75; }
  60% { opacity: 1; }
  80% { opacity: 0.75; }
  to { opacity: 1; }
}

.clicked * {
  animation-name: highlight;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.clicked.toggle, .clicked.toggle *, .clicked.link * {
  animation: none;
}

@keyframes highlight {
  30% { stroke: red; stroke-opacity: 0.5; }
  70% { stroke: red; stroke-opacity: 0.75; }
}

/* #survey g['inkscape:label']:hover * { */
#survey g[label]:hover * {
  fill-opacity: 1 !important;
  transition: fill-opacity 0.25s ease !important;
}

* {
  transition: fill-opacity 0.25s ease;
  transition: fill 0.25s ease;
}

text, .parent:hover text, tspan, .parent:hover tspan {
  animation: none !important;
  fill: currentColor !important;
  stroke: none !important;
}
